<div class="container p-4">
    <div class="row" >
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4>Alias {{user.username}}</h4>
                    <a href="/links" class="btn btn-primary m-4">
                        Consulta tu agenda   
                    </a>
                </div>
            </div>
            <a class="twitter-timeline" href="https://twitter.com/El_Universal_Mx?ref_src=twsrc%5Etfw">Tweets by El_Universal_Mx</a>         
        </div>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>